body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  width: 100%;
  margin: 0;
  font-family: cursive;
  color: black;
}

body section {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  margin: 5em;
}

h1 {
  font-weight: 1000;
}

section div {
  flex-basis: 19%;
  flex-grow: 1;
  font-size: 2em;
  height: 7em;
  gap: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 10px 8px 0px rgba(0, 0, 0, 0.28);
  transform: rotate(-4deg);
  transition: transform 0.5s ease-in-out 0s;
}
section div:nth-child(even) {
  transform: rotate(4deg);
}

section div:nth-child(1) {
  background-color: rgb(255, 245, 154);
}
section div:nth-child(2) {
  background-color: rgb(181, 255, 154);
}
section div:nth-child(3) {
  background-color: rgb(223, 184, 255);
}
section div:nth-child(4) {
  background-color: rgb(181, 255, 154);
}
section div:nth-child(5) {
  background-color: rgb(255, 245, 154);
}
section div:nth-child(6) {
  background-color: rgb(223, 184, 255);
}
section div:nth-child(7) {
  background-color: rgb(255, 245, 154);
}
section div:nth-child(8) {
  background-color: rgb(181, 255, 154);
}
section div:hover {
  transform: scale(1.2);
  z-index: 10;
  cursor: pointer;
}

@keyframes rain {
  0% {
    opacity: 0;
    transform: scale(10);
  }
  s 25% {
    opacity: 0;
    transform: scale(8);
  }
  50% {
    opacity: 0;
    transform: scale(6);
  }
  65% {
    opacity: 0;
    transform: scale(4);
  }
  80% {
    opacity: 1;
    transform: scale(2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animation {
  animation: 1s ease-out 0s rain;
}
